{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Товары</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Товары
            </div>
            <div class="card-body">
                <div class="paginator" style="text-align: center">
                    {% if products.has_previous %}
                        <a href="{% url 'admin_staff:page' category.pk products.previous_page_number %}">
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                        <span class="current"> страница {{ products.number }} из {{ products.paginator.num_pages }} </span>
                    {% if products.has_next %}
                        <a href="{% url 'admin_staff:page' category.pk products.next_page_number %}">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr class="text-center">
                            <th>Наименование</th>
                            <th>Детали</th>
                            <th>Цена</th>
                            <th>Количество на складе</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr class="text-center">
                            <th>Наименование</th>
                            <th>Детали</th>
                            <th>Цена</th>
                            <th>Количество на складе</th>
                            <th>Редактировать</th>
                            <th>Удалить</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for product in products %}
                        <tr {% if not product.is_active %} style="opacity: 0.5;" {% endif %}>
                            <td>{{ product.name }}</td>
                            <td class="text-center"><a href="{% url 'admin_staff:product_read' product.id %}"
                                                       style="color: dodgerblue">Подробнее</a></td>
                            <td class="text-center">{{ product.price }}</td>
                            <td class="text-center">{{ product.quantity }}</td>
                            <td class="text-center">
                                <a href="{% url 'admin_staff:product_update' product.id %}" style="color: dodgerblue">Edit</a>
                            </td>
                            <td class="text-center">
                                <a {% if not product.is_active %} class="invisible" {% endif %}
                                   href="{% url 'admin_staff:product_delete' pk=product.id %}">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'admin_staff:product_create' category.pk %}">
                    <button class="btn btn-success">Добавить товар</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}